.nt-movie {

  .nt-box {
    margin-bottom: 1rem;
  }

  &-title {
    text-align: center;
    color: #ba0000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  }

  &-rating {
    overflow: hidden;

    strong {
      float: left;
    }
  }

  &-poster {
    width: 7.5cm;
    height: 10cm;
  }

  &-aside {
    .nt-box {
      margin-top: 1rem;
    }
  }
}

